<div id="<%= dom_id product_variant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= product_variant.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= product_variant.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= product_variant.quantity %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product variant", product_variant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this product variant', edit_product_variant_path(product_variant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
